
<p>Project Name: <%= @project.name %></p>
<p>Project Material: <%= @project.material %></p>
<p> Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestants.contestant_count %>
